// Navbar
nav {
  .navbar-nav {
    a {
      transition: all 0.5s ease-in-out;
    }
    a.active {
      color: #d8b800 !important;
    }
    a:hover {
      color: #d8b800 !important;
      //   font-weight: 500;
    }
  }
}
// Jumbotron
.jumbotron {
  .text-header {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 60px;
    color: #d8b800;
  }
  .lead {
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    font-size: 16px;
    color: #5f5100;
  }
  .btn-cta {
    background-color: #ffa600;
    color: #ffffff;
    transition: all 0.4s;

    &:hover {
      background-color: #ffb62d;
      color: #ffffff;
    }
  }
}
